@COLOR: #ef8c81;
@BORDER: white;

.con {
  letter-spacing: 1px;
  color: @BORDER;
  letter-spacing: 3px;
  max-width: 700px;
  // a
}
:global {
  .init {
    margin-top: 15px;

    letter-spacing: 1px;
  }
}
