.msgItem {
  display: flex;
  letter-spacing: 2px;
  padding: 20px;
  padding-left: 0;
  border-bottom: 1px solid #e7e2e2;
  margin-left: 100px;
  .msgBoxWrap {
    display: flex;
    justify-content: space-between;
    .delete {
      align-self: flex-end;
    }
  }
  .msgContent {
    img {
      max-width: 70px;
      max-height: 70px;
      margin: 10px;
    }
  }
  .left {
    width: 100px;
    font-weight: bold;
    font-size: 30px;
  }
  .right {
    flex: 1;
    .top {
      .msgName {
        display: flex;
        justify-content: space-between;
        h1 {
          font-weight: bold;
          margin: 0;
        }
        .operation {
          position: relative;
          a.reply {
            position: absolute;
            top: -20px;
            right: -30px;
            i {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin-bottom: 5px;
    color: inherit;
  }
}
.modal {
  :global {
    .ant-modal-content {
      border-radius: 0;
    }
  }
}
