@keyframes scale {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

@keyframes left2Right {
  from {
    transform: translate3d(50px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.left2Right() {
  transform: translate3d(50px, 0, 0);
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityScale {
  from {
    opacity: 0;
    transform: scale(0);
    background: rgba(255, 255, 255, 1);
  }
  to {
    opacity: 1;
    transform: scale(1);
    // background: transparent;
    background: rgba(255, 255, 255, 0);
  }
}
