@keyframes scale {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

@keyframes left2Right {
  from {
    transform: translate3d(50px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.left2Right() {
  transform: translate3d(50px, 0, 0);
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityScale {
  from {
    opacity: 0;
    transform: scale(0);
    background: rgba(255, 255, 255, 1);
  }
  to {
    opacity: 1;
    transform: scale(1);
    // background: transparent;
    background: rgba(255, 255, 255, 0);
  }
}

.shake() {
  animation: shake 10s infinite;
  transform: translate3d(0, -20px, 0);
  animation-fill-mode: forwards;
}

@keyframes shake {
  0% {
    transform: translate3d(0, -10px, 0);
  }
  20% {
    transform: translate3d(0, 0, 0);
  }
  40% {
    transform: translate3d(0, 10px, 0);
  }
  60% {
    transform: translate3d(0, 0, 0);
  }
  80%,
  100% {
    transform: translate3d(0, -10px, 0);
  }
}

.rotate() {
  animation: rotate 1s infinite linear;
  transform-origin: center;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
