@import url(../../common/styles/animation.less);
canvas {
  width: 100%;
  height: 100%;
}
.viewport {
  width: 80%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  color: white;
  .p1,
  .p2,
  .p3 {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    animation: opacity 3s;
  }
  .p2,
  .p3 {
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-size: 15px;
    margin-top: 20px;
    &[data-finish='true'] {
      animation: opacityScale 2s;
      animation-fill-mode: forwards;
      // color: black;
      padding: 20px;
      border-radius: 20px;
      transform-origin: center;
    }
    div {
      span {
        font-weight: bolder;
        font-size: 18px;
        color: #e9c981;
      }
    }
  }
  .p3 {
    animation-delay: 1.5s;
    color: #b19956;
  }
}
.logo {
  width: 138px;
  float: left;
  color: #2e2e2e;
  text-align: left;
  letter-spacing: 3px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 10;
  .bottom {
    font-size: 12px;
    position: absolute;
    transform: scale(0.5) translateX(20px) translateY(40px);
  }
  .blogTitle {
    display: inline-block;
    animation: fadeIn 1s forwards;
  }
}
