@import '../../common/styles/constant.less';
.footer {
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: @FONTCOLOR;
  font-size: 12px;
  letter-spacing: 1px;
  a {
    &:hover {
      color: @HOVERCOLOR;
    }
  }
}
