@import '../../common/styles/constant.less';
.footer {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px 40px;
  // a {
  // &:hover {
  // color: @HOVERCOLOR;
  // }
  // }
  a {
    margin: 0 5px;
  }
}
