@BG: rgba(136, 136, 136, 0.5);
@HOVER: #ef8c81;
@COLOR: #222426;
@BORDER: white;
.listCon {
  width: 90%;
  margin: 0 auto;
  background: white;
  height: 100%;
  .pageWrap {
    width: 50px;
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: flex-start;
  flex: 1;
  .item {
    position: relative;
    width: 24%;
    height: 400px;
    cursor: pointer;
    border-top: 1px solid @BORDER;
    overflow: hidden;
    animation: siteItem 0.3s;
    display: flex;
    flex-direction: column;
    // margin-bottom: 20px;
    // border-bottom: 10px solid #a1abb2;
    margin: 0.5%;
    .top {
      flex: 1;
      height: 50%;
      position: relative;
      transition: all 0.3s;
      background-size: 100%;
      background-position: center;
    }
    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0);
      z-index: 1;
      pointer-events: none;
      transition: all 0.3s;
    }
    &:hover {
      .top {
        background-size: 110%;
      }
      .mask {
        background: rgba(0, 0, 0, 0.4);
      }
    }
    .bottom {
      height: 50%;
      transition: background 0.3s;
      background: rgba(228, 228, 228, 1);
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      letter-spacing: 1px;
      padding: 0 10px;
      .siteName {
        font-weight: bold;
        font-size: 22px;
      }
    }
    .desc {
      margin-top: 10px;
      opacity: 0.8;
    }
    .siteDesc,
    .date {
      font-size: 13px;
      line-height: 20px;
      color: @COLOR;
    }
  }
  .odd {
    flex-direction: column-reverse;
  }
}

.info {
  margin-top: 20px;
  font-size: 15px;
  color: @BORDER;
}
@keyframes siteItem {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.con {
  display: flex;
  padding: 5px 0;
  justify-content: center;
  color: @BORDER;
  .filter::before {
    // content: '';
    // width: 1px;
    // height: 9px;
    // background: white;
    // position: absolute;
    // top: 8px;
    // left: 68px;
  }
  .filter {
    display: flex;
    // margin-left: 50px;
    position: relative;
    letter-spacing: 1px;
    .filterItem {
      cursor: pointer;
      // border-right: 1px solid @BORDER;
      position: relative;
      transition: all 0.3s;
      opacity: 0.4;
      display: flex;
      justify-content: center;
      align-items: center;
      color: @COLOR;
      margin-right: 20px;
      line-height: unset;
    }
    .filterItem[data-current='true'] {
      opacity: 1;
    }
    .filterItem:last-of-type::before {
      display: none;
    }
    .sort {
      transition: all 0.3s;
      transform-origin: center;
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      .sortWayText {
        position: absolute;
        left: 15px;
        top: 4px;
        white-space: nowrap;
      }
      span {
        display: block;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        margin: 2px 0;
        transition: all 0.3s;
      }
      span:nth-of-type(1) {
        border-bottom-color: @COLOR;
      }
      span:nth-of-type(2) {
        border-top-color: @COLOR;
        opacity: 0.4;
      }
    }
    .downSort {
      span:nth-of-type(1) {
        border-bottom-color: @COLOR;
        opacity: 0.4;
      }
      span:nth-of-type(2) {
        border-top-color: @COLOR;
        opacity: 1;
      }
    }
    .disabled {
      cursor: not-allowed;
    }
  }
}
