.sites {
  position: relative;
  margin-top: -266px;
  .pageBox {
    top: -142px;
    left: -47%;
    position: relative;
  }
  .routeContainer {
    background: #efefef;
    margin-top: 48px;
    padding: 0 40px;
  }
}
.smallImg {
  background: #efefef;
  padding: 20px;
  height: 140px;
  div {
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}
