.wrap {
  position: relative;
  top: -188px;
  .tips {
    padding: 20px;
  }
  .searchContainer {
    margin-top: 48px;
    background: #efefef;
    // padding: 0 40px;
  }
  .searchBox {
    width: 740px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    :global {
      .ant-input-search {
        width: 600px;
      }
      input,
      button {
        border-radius: 0;
        &:focus {
          box-shadow: none;
          // color: initial;
          border: 1px solid #d9d9d9;
        }
        &:hover {
          border: 1px solid #d9d9d9;
        }
      }
    }
  }
  .listCon {
    .item {
      margin-bottom: 20px;
      display: flex;
      background-color: white;
      height: 140px;
      .left {
        width: 140px;
        background-color: #f5f5f5;
        padding: 5px;
        .img {
          width: 100%;
          height: 100%;
          background-size: cover;
        }
      }
      .right {
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
