@import url('../../../../common/styles/constant.less');
.item {
  margin: 40px 0;
  position: relative;
  padding: 0 50px;
  .label {
    width: 200px;
  }
  h1 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    i {
      font-weight: normal;
      display: none;
    }
  }
  p {
    margin: 0;
    margin-top: 10px;
  }
  .con {
    font-size: 18px;
    width: 400px;
    margin-top: 20px;
    textarea {
      height: 100px;
    }
    :global {
      .ant-radio-group {
        span {
          color: @FONTCOLOR;
        }
      }
      .ant-input-group-addon,
      .ant-select,
      .ant-select-selection,
      .ant-select-selection__rendered,
      .ant-select-selection--single {
        background: transparent;
        color: @FONTCOLOR;
        border-radius: 0;
        width: 404px;
        height: 40px;
        line-height: 40px;
        i {
          color: @FONTCOLOR;
        }
      }
      .ant-input-group-addon {
        border: 1px solid #e2dede;
        border-right: none;
      }
      .ant-select-selection__rendered {
        margin-left: 15px;
      }
      textarea {
        resize: none;
      }
      textarea:focus,
      textarea:hover,
      .ant-select-selection,
      textarea,
      .ant-select-selection:hover,
      .ant-select-selection:focus {
        box-shadow: none;
        border-color: #e2dede;
      }
    }
    input,
    textarea {
      background: none;
      outline: none;
      width: 404px;
      display: block;
      // border: none;
      border: 1px solid #e2dede;
      color: @FONTCOLOR;
      border-radius: 0;
      padding: 5px 10px;
      font-size: 14px;
    }

    input:focus,
    textarea:focus,
    textarea:focus-visible {
      box-shadow: none;
      border: 1px solid #e2dede;
    }
  }
  :global {
    .defaultItem::before {
      // content: ;
      display: none;
    }
    .notRequired::before {
      display: none;
    }
  }
}
.previewImg {
  img {
    display: block;
    max-width: 400px;
  }
}
