@TEXT_COLOR: rgba(255, 255, 255, 0.8);
@LABEL_COLOR: white;

.content {
  // padding-top: 20px;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  //   margin: 0 auto;
  margin-left: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}
.userName {
  margin-left: 180px;
  width: 150px;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  color: @TEXT_COLOR;
}
.infos {
  .item {
    margin-bottom: 10px;
    display: flex;
    font-size: 15px;
    align-items: center;
    .like:hover {
      color: #fb7272;
    }
    .like {
      margin-left: 5px;
      i {
        font-size: 20px;
      }
    }
    .label {
      width: 150px;
      text-align: right;
      font-weight: 550;
      color: @LABEL_COLOR;
    }
    a.con:hover {
      color: #fb7272;
    }
    .con {
      margin-left: 10px;
      flex: 1;
      white-space: pre-wrap;
      color: @TEXT_COLOR;
      .img {
        width: 300px;
        height: 200px;
        cursor: zoom-in;
        overflow: hidden;
        margin-bottom: 10px;
        img {
          display: inline-block;
          width: auto;
          height: 100%;
        }
      }
      .img:last-of-type {
        margin: 0;
      }
    }
  }
}
.siteItem {
  display: flex;
  margin-top: 15px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  .item {
    display: flex;
    margin-right: 15px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    a {
      margin-right: 5px;
    }
    .index {
      font-size: 15px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: #f54c53;
      color: white;
      text-align: center;
      line-height: 20px;
      display: block;
      margin-right: 5px;
    }
  }
  .name {
    cursor: pointer;
  }
  .name:hover,
  a:hover {
    color: #f54c53;
  }
  .item:nth-of-type(2) {
    width: 70px;
  }
}
@media screen and (max-width: 750px) {
  .content {
    .avatar,
    .userName {
      margin-left: 0;
    }
    .item {
      .label {
        width: 70px;
        font-size: 13px;
      }
    }
  }
  .siteItem {
    flex-direction: column;
  }
}
